<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">NASI-PAY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Features</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Pricing</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">About</a>-->
            <!--</li>-->
        </ul>
        <form class="form-inline" method="get" action="/payments/query">
            <input autocomplete="off" name="numero" class="form-control mr-sm-4" type="search" placeholder="订单编号" aria-label="订单编号">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">订单查询</button>
        </form>
    </div>
</nav>
</body>
</html>